@model List<EmiModel>
@{
    ViewData["Title"] = "AccountDetail";
}
<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h5 class="card-title ">Account Detail | <span id="UserName"></span></h5>
                </div>
                <div class="col-sm-7 mt-4">
                    <div style="float:right">
                        <button onclick='AddEmi()' class="btn btn-outline-success"><i class="bi bi-plus-circle-fill"></i> Add EMI</button>
                        <a href="~/user/UserList" class="btn btn-outline-dark"> Back</a> &nbsp;&nbsp;
                    </div>
                    <div class="col-sm-3 d-flex" style="float:right">

                        &nbsp;
                        <select class="form-select" aria-label="Default select">
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                        </select>&nbsp;
                        <select class="form-select" aria-label="Default select">
                            <option value="1">2021</option>
                            <option value="2">2022</option>
                            <option value="3">2023</option>
                        </select>&nbsp;
                    </div>
                    &nbsp;
                </div>
            </div>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">EMI</th>
                        <th scope="col">Int</th>
                        <th scope="col">Debit</th>
                        <th scope="col">Credit</th>
                        <th scope="col">Fine</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {


                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class=d-none>
                                        @item.TransactionId
                                    </td>
                                    <td>@item.Month</td>
                                    <td>@item.Emi</td>
                                    <td>@item.Intrest</td>
                                    <td>@item.Debit</td>
                                    <td>@item.Credit</td>
                                    <td>@item.Fine</td>
                                    <td>
                                        <a href="#" class="text-primary" onclick='EditEmi(@item.TransactionId)'><i class="bi bi-pencil-square"></i></a> &nbsp;
                                        <a href="#" class="text-primary" onclick='DeleteEmi(@item.TransactionId)'><i class="bi bi-trash text-danger"></i></a> &nbsp;
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    <p class="text-center">
                                        No Record Available
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div><!-- End Recent Sales -->
<!-- EMI ADD/Edit -->
<div class="modal fade" id="AddEmi" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="emi-modal-title">Add EMI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="profile-edit pt-3" id="profile-edit">
                    <form class="row g-3 needs-validation" id="emiAddEditForm" novalidate autocomplete="off">

                        <div class="row mb-3">
                            <label for="NickName" class="col-md-4 col-lg-3 col-form-label">Name</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="NickName" type="text" class="form-control" id="NickName" value="" required>
                                <input name="MemberId" type="hidden" class="form-control" id="MemberId" value="" required>
                                <input name="TransactionId" type="hidden" class="form-control" id="TransactionId" value="" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="FName" class="col-md-4 col-lg-3 col-form-label">Month</label>
                            <div class="col-md-8 col-lg-9">
                                <select id="Month" name="Month" class="form-select" required>
                                    <option selected>Select Month</option>
                                    <option value="Jan">Jan</option>
                                    <option value="Feb">Feb</option>
                                    <option value="Mar">Mar</option>
                                    <option value="Apr">Apr</option>
                                    <option value="May">May</option>
                                    <option value="Jun">Jun</option>
                                    <option value="Jul">Jul</option>
                                    <option value="Aug">Aug</option>
                                    <option value="Sept">Sept</option>
                                    <option value="Oct">Oct</option>
                                    <option value="Nov">Nov</option>
                                    <option value="Dec">Dec</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Emi" class="col-md-4 col-lg-3 col-form-label">Emi</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="Emi" type="number" class="form-control" id="Emi" value="1000" placeholder="Emi" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Intrest" class="col-md-4 col-lg-3 col-form-label">Int</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="Intrest" type="number" class="form-control" id="Intrest" value="" placeholder="Int" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Debit" class="col-md-4 col-lg-3 col-form-label">Debit</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="Debit" type="number" class="form-control" id="Debit" value="" placeholder="Debit" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Credit" class="col-md-4 col-lg-3 col-form-label">Credit</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="Credit" type="number" class="form-control" id="Credit" value="" placeholder="Credit" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Fine" class="col-md-4 col-lg-3 col-form-label">Fine</label>
                            <div class="col-md-8 col-lg-9">
                                <input name="Fine" type="number" class="form-control" id="Fine" value="" placeholder="Fine" required>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="AddEditSave">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>